<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #f4f4f4;
            color: #333;
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        .defaultForm {
            display: flex;
            flex-direction: column;
            max-width: 900px;
            margin: 0 auto;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .defaultFormSubBlock {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 15px;
        }

        .defaultFormLabel {
            font-weight: bold;
            margin-bottom: 5px;
            color: #555;
        }

        .defaultInputBar{
            margin: 0px;
            width: 300px;
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ddd;
            border-radius: 5px;
            display: inline-block;
        }
        .defaultDropDown{
            margin: 0px;
            width: 318px;
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ddd;
            border-radius: 5px;
            display: inline-block;
        }
        .defaultTextBar{
            margin: 0;
            width: 300px;
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ddd;
            border-radius: 5px;
            display: inline-block;
        }
        .defaultTextArea{
            margin: 0px;
            width: 300px;
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ddd;
            border-radius: 5px;
            display: inline-block;
        }

        .checkbox-container{
            width: 600px;
        }
        .checkbox-item{
            display: inline-block;
        }

        .defaultButton {
            padding: 10px;
            background-color: #1fa8b6;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .error-div{
            color: red;
            max-width: 300px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 10px;
        }

        .user-details {
            background-color: #fff;
            border: 1px solid #ddd;
            margin-bottom: 10px;
            margin-top: 10px;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .grid {
            display: grid;
            margin-top: 20px;
            background-color: #fff;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .gridItem {
            padding: 15px;
            border-bottom: 1px solid #ddd;
            text-align: center;
        }

        .gridItem strong {
            font-weight: bold;
        }

    </style>
</head>

<body>
    <%- include('../includes/navigationBar.ejs') %>
    <h1>Login</h1>
    <%if(error) {%>
        <div class = "error-div" id = "error-div">
            <%= error %>
        </div>
    <%}%>
    <form class="defaultForm" action = "/studio" method="post">
        <div class="defaultFormSubBlock">
            <label class="defaultFormLabel" for="username"> Username</label>
            <p name="username"  class="defaultTextBar" id="username"><%=user.details.username%></p>
        </div>
        <div class="defaultFormSubBlock">
            <label class="defaultFormLabel" for="email">Email</label>
            <p name="email"  class="defaultTextBar" id="email"><%=user.details.email%></p>
        </div>
        <div class="defaultFormSubBlock">
            <label class="defaultFormLabel" for="contactNumber">Contact Number</label>
            <p name="email"  class="defaultTextBar" id="email"><%=user.details.contactNumber%></p>
        </div>
        <div class="defaultFormSubBlock">
            <label class="defaultFormLabel" for="bookingDate">Booking Date</label>
            <input required name="bookingDate" class="defaultInputBar" id="bookingDate" type = "date" value="<%= oldInput.bookingDate %>">
        </div>
        <div class="defaultFormSubBlock">
            <label class="defaultFormLabel" for="bookingTime">Booking Time</label>
            <select class="defaultDropDown" name="bookingTime" id="bookingTime" required>
                <option value="10:00 AM to 11:00 AM" <%if(oldInput.bookingTime === "10:00 AM to 11:00 AM"){%>selected <%}%>>10:00 AM to 11:00 AM</option>
                <option value="11:00 AM to 12:00 PM" <%if(oldInput.bookingTime === "11:00 AM to 12:00 PM"){%>selected <%}%>>11:00 AM to 12:00 PM</option>
                <option value="12:00 PM to 1:00 PM" <%if(oldInput.bookingTime === "12:00 PM to 1:00 PM"){%>selected <%}%>>12:00 PM to 1:00 PM</option>
                <option value="1:00 PM to 2:00 PM" <%if(oldInput.bookingTime === "1:00 PM to 2:00 PM"){%>selected <%}%>>1:00 PM to 2:00 PM</option>
                <option value="2:00 PM to 3:00 PM" <%if(oldInput.bookingTime === "2:00 PM to 3:00 PM"){%>selected <%}%>>2:00 PM to 3:00 PM</option>
                <option value="3:00 PM to 4:00 PM" <%if(oldInput.bookingTime === "3:00 PM to 4:00 PM"){%>selected <%}%>>3:00 PM to 4:00 PM</option>
                <option value="4:00 PM to 5:00 PM" <%if(oldInput.bookingTime === "4:00 PM to 5:00 PM"){%>selected <%}%>>4:00 PM to 5:00 PM</option>
                <option value="5:00 PM to 6:00 PM" <%if(oldInput.bookingTime === "5:00 PM to 6:00 PM"){%>selected <%}%>>5:00 PM to 6:00 PM</option>
                <option value="6:00 PM to 7:00 PM" <%if(oldInput.bookingTime === "6:00 PM to 7:00 PM"){%>selected <%}%>>6:00 PM to 7:00 PM</option>
            </select>
        </div>
        <div class="defaultFormSubBlock">
            <label class="defaultFormLabel" for="people">How many persons will use the studio</label>
            <select class="defaultDropDown" name="people" id="people" required>
                <option value="1" <%if(oldInput.people === "1"){%>selected <%}%>>1</option>
                <option value="2" <%if(oldInput.people === "2"){%>selected <%}%>>2</option>
                <option value="3" <%if(oldInput.people === "3"){%>selected <%}%>>3</option>
            </select>
        </div>
        <div class="defaultFormSubBlock">
            <label class="defaultFormLabel" for="purpose">Purpose</label>
            <select class="defaultDropDown" name="purpose" id="purpose" required>
                <option value="Music" <%if(oldInput.purpose === "Music"){%>selected <%}%>>Music</option>
                <option value="Debate" <%if(oldInput.purpose === "Debate"){%>selected <%}%>>Debate</option>
                <option value="Interview" <%if(oldInput.purpose === "Interview"){%>selected <%}%>>Interview</option>
                <option value="Poetry" <%if(oldInput.purpose === "Poetry"){%>selected <%}%>>Poetry</option>
                <option value="Booktalk" <%if(oldInput.purpose === "Booktalk"){%>selected <%}%>>Booktalk</option>
                <option value="Idea" <%if(oldInput.purpose === "Idea"){%>selected <%}%>>New Idea</option>
                <option value="Singing" <%if(oldInput.purpose === "Singing"){%>selected <%}%>>Singing</option>
                <option value="Technology" <%if(oldInput.purpose === "Technology"){%>selected <%}%>>Technology</option>
                <option value="About LNMIIT" <%if(oldInput.purpose === "About LNMIIT"){%>selected <%}%>>About LNMIIT</option>
                <option value="PodCast" <%if(oldInput.purpose === "PodCast"){%>selected <%}%>>PodCast</option>
                <option value="Graphics Design" <%if(oldInput.purpose === "Graphics Design"){%>selected <%}%>>Graphics Design</option>
                <option value="Any other" <%if(oldInput.purpose === "Any other"){%>selected <%}%>>Any other</option>
            </select>
        </div>        
        <div class="defaultFormSubBlock">
            <label class="defaultFormLabel" for="Equipment">Equipment(s) required</label>
            <div class="checkbox-container">
                <div class="checkbox-item">
                    <label for="Camera">Camera</label>
                    <input type="checkbox" name="equipment[]" id="Camera" value="Camera" <%if(oldInput.equipment.includes("Camera")){%>checked <%}%>>
                </div>
                <div class="checkbox-item">
                    <label for="Microphone">Microphone</label>
                    <input type="checkbox" name="equipment[]" id="Microphone" value="Microphone" <%if(oldInput.equipment.includes("Microphone")){%>checked <%}%>>
                </div>
                <div class="checkbox-item">
                    <label for="Headphone">Headphone</label>
                    <input type="checkbox" name="equipment[]" id="Headphone" value="Headphone" <%if(oldInput.equipment.includes("Headphone")){%>checked <%}%>>
                </div>
                <div class="checkbox-item">
                    <label for="Speaker">Speaker</label>
                    <input type="checkbox" name="equipment[]" id="Speaker" value="Speaker" <%if(oldInput.equipment.includes("Speaker")){%>checked <%}%>>
                </div>
                <div class="checkbox-item">
                    <label for="Podcast Condenser Mic">Podcast Condenser Mic</label>
                    <input type="checkbox" name="equipment[]" id="Podcast Condenser Mic" value="Podcast Condenser Mic" <%if(oldInput.equipment.includes("Podcast Condenser Mic")){%>checked <%}%>>
                </div>
                <div class="checkbox-item">
                    <label for="Collar Mic">Collar Mic</label>
                    <input type="checkbox" name="equipment[]" id="Collar Mic" value="Collar Mic" <%if(oldInput.equipment.includes("Collar Mic")){%>checked <%}%>>
                </div>
                <div class="checkbox-item">
                    <label for="Ring Light">Ring Light</label>
                    <input type="checkbox" name="equipment[]" id="Ring Light" value="Ring Light" <%if(oldInput.equipment.includes("Ring Light")){%>checked <%}%>>
                </div>
                <div class="checkbox-item">
                    <label for="Extension Board">Extension Board</label>
                    <input type="checkbox" name="equipment[]" id="Extension Board" value="Extension Board" <%if(oldInput.equipment.includes("Extension Board")){%>checked <%}%>>
                </div>
                <div class="checkbox-item">
                    <label for="Sony Mirrorless Camera">Sony Mirrorless Camera</label>
                    <input type="checkbox" name="equipment[]" id="Sony Mirrorless Camera" value="Sony Mirrorless Camera" <%if(oldInput.equipment.includes("Sony Mirrorless Camera")){%>checked <%}%>>
                </div>
                <div class="checkbox-item">
                    <label for="Tripod">Tripod</label>
                    <input type="checkbox" name="equipment[]" id="Tripod" value="Tripod" <%if(oldInput.equipment.includes("Tripod")){%>checked <%}%>>
                </div>
            </div>
        </div>
        
        <div class="defaultFormSubBlock">
            <label class="defaultFormLabel" for="topic">Topic of your activity</label>
            <textarea required class="defaultTextArea" name="topic" id="topic"><%= oldInput.topic %></textarea>
        </div>
        <div class="defaultFormSubBlock">
            <button class="defaultButton" type="submit">Submit</button>
        </div>
    </form>


    <% if (!bookingHistory.length) { %>
        <div class="user-details">
            <h2>No Bookings to show</h2>
        </div>
    <% } else { %>
        <div class="user-details">
            <h2>Past Issues</h2>
            <div class="grid" style="grid-template-columns: repeat(4, 1fr);">
                <div class="gridItem"><strong>Booking Date</strong></div>
                <div class="gridItem"><strong>Booking Time</strong></div>
                <div class="gridItem"><strong>Equipment</strong></div>
                <div class="gridItem"><strong>Purpose</strong></div>
                <% bookingHistory.forEach(booking => { %>
                    <div class="gridItem"><%= formatDate(booking.bookingDate) %></div>
                    <div class="gridItem"><%= booking.bookingTime %></div>
                    <div class="gridItem"><%= booking.equipment %></div>
                    <div class="gridItem"><%= booking.purpose %></div>
                <% }); %>
            </div>
        </div>
    <% } %>

    <% function formatDate(date) { %>
        <% const options = { weekday: 'long', year: 'numeric', month: 'numeric', day: 'numeric' }; %>
        <% const formatter = new Intl.DateTimeFormat('en-US', options); %>
        <% if (date) { %>
            <%= formatter.format(date) %>
        <% } else { %>
            <%= 'N/A' %>
        <% } %>
    <% } %>
</body>
</html>


